a {
    text-decoration: none;
    color: #448899;
}

input {
    border: 1px solid #E8E8E8;
    width: 200px;
    height: 28px;
    font-size: 16px;
    color: gray;
    border-radius: 5px;
}

/* 點選去邊框 */

input {
    outline: medium;
}

/* 預購資料確認格式 */

.dataChick {
    margin: 0 auto;
    justify-content: left;
    display: flex;
    width: 50%;
}

.dataChick h6 {
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.dataChick h5 {
    color: #448899;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 14px;
}

/* 台北一日遊Footer */

#indexFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto auto;
    width: 100%;
    height: 104px;
    background: #757575;
    margin-top: 883px;
}

/* Footer內文字格式 */

#footerText {
    width: 100%;
    height: 14px;
    left: 0px;
    top: 5px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 45px auto;
    justify-content: center;
}