<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/OnedayTrip/style/idPic.css">
  <link rel="stylesheet" href="/OnedayTrip/style/publicUtilities.css">
  <title>台 北 一 日 遊</title>
  <link rel="icon" href="/OnedayTrip/img/tw.ico" type="image/x-icon">
</head>

<body>
  <div id="fristLogin"></div>
  <nav></nav>

  <div id="OnedayTrip"></div>

  <!-- =====台北一日遊Footer====== -->
  <footer id="indexFooter">
    <div id="footerText">COPYRIGHT © 2021 台北一日遊</div>
  </footer>

</body>
  <script src="/OnedayTrip/javaScript/idPage.js"></script>
  <script src="/OnedayTrip/javaScript/publicUtilities.js"></script>
  
</html>