<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/OnedayTrip/style/thankyou.css">
    <link rel="stylesheet" href="/OnedayTrip/style/publicUtilities.css">
    <title>台 北 一 日 遊</title>
    <link rel="icon" href="/OnedayTrip/img/tw.ico" type="image/x-icon">
    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
</head>

<body>
    <div id="fristLogin"></div>
    <nav></nav>

    <br>
    <div class="dataChick">
        <!-- 預購資料確認 -->
        <div>
            <h6>您的訂單已完成付款</h6>
            <h6>訂單編號：</h6>

            <div>
                <h5 id="date">日期： </h4>
                <h5 id="name">地點名稱： </h6>
                <h5 id="adress">地址： </h6>
            </div>

        </div>
    </div>


    <!-- =====台北一日遊Footer====== -->
    <footer id="indexFooter">
        <div id="footerText">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <script src="/OnedayTrip/javaScript/thankyou.js"></script>
    <script src="/OnedayTrip/javaScript/publicUtilities.js"></script>
</body>

</html>